header{
    margin-top: 5%;
    margin-left: 3%;
    text-shadow: rgb(33, 2, 58) 6px 6px 8px;
    color: rgb(51, 14, 87);
    line-height: 2;
    font-size: 130%;
    text-decoration: underline
}
body{
    padding-left: 10%;
    padding-right: 10%;
    font-style: normal;
    font-size: 130%;
    background: rgb(173, 160, 185);
}
p.title1{
    margin-left: 5%;
    color: rgb(86, 7, 106);
    font-size: 150%;
    text-decoration-line: underline;
}
p.title2{
    margin-left: 5%;
    color: rgb(86, 7, 106);
    font-size: 150%;
    text-decoration-line: underline;
}
table{
    margin-left: 3%;
    border-collapse:collapse;
}
td, tr{
    border: rgb(85, 13, 114) 1px solid;
    color: rgb(114, 29, 143);
}
img{
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}
ol{
    color: rgb(114, 29, 143);
}
hr{
    color: rgb(86, 7, 106);
}