header{
    margin-top: 5%;
    margin-left: 5%;
    text-shadow: rgb(33, 2, 58) 6px 6px 8px;
    color: rgb(51, 14, 87);
    line-height: 2;
    font-size: 130%;
    text-decoration: underline
}
body{
    margin-left: 10%;
    margin-right: 10%;
}
p.title{
    margin-left: 5%;
    color: rgb(153, 43, 212);
    font-size: 150%;
    text-decoration-line: underline;
}
